<style>
.bg-4 { 
    background-color: #2f2f2f;
    color: grey;
    border-radius: 5px;
}

</style>
<footer class="container-fluid bg-4 text-center">
<h3>By Julian Merenich</h3>
<div class="container" style="border-top:1px solid grey;">
            <div class="row text-center">   
                <div class="col-lg-6 col-lg-offset-3">
                      <ul class="menu">
                                 
                             <li>
                                <a href="/">Home</a>
                              </li>

                              <li>
                                 <a href="/photos">Gallery</a>
                              </li>
                                   
                              <li>
                                <a href="/images">Multi Galery</a>
                             </li>


                              <li>
                                 <a href="/posts/new">Add post</a>
                              </li>
                        </ul>
                </div>
            </div>

</footer>
<center>© 2017 Julian Merenich</center>